<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>CalcWidgetLauncher</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>net.alefbet.calcwidgetlauncher</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright ¬© 2019-2026, Tristan Israël, Alefbet</string>
	<key>CFBundleDisplayName</key>
	<string>Calc Widget Launcher</string>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
</dict>
</plist>
